@import url('https://fonts.googleapis.com/css2?family=Piazzolla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  min-height: 80%;
}

body {
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  background-color: #3a0b0b;
}

.container {
  display: flex;
  justify-content: center;
  gap: 90px;
  flex-wrap: wrap;
}

.word {
  max-width: max-content;
  display: flex;
  gap: 20px;
}

.word > span {
  position: relative;
  padding: 20px 30px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90px;
  max-height: 90px;
  border: 6px solid grey;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.8s ease-in-out;
}

/* Sample CSS for the WHY word */

.whyWLetter {
  font-size: 72px;
  font-weight: bold;
  color: aqua;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Piazolla', sans-serif;
}

.whyHLetter {
  font-size: 30px;
  font-weight: bold;
  color: darkgoldenrod;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: 'Ceviche One', sans-serif;
}

.whyYLetter {
  font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
}

/* DID word */

.didDLetter {font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
}

.didILetter {font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
}

.didDTwoLetter {font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
}

/* THE word */

.theTLetter {font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
}

.theHLetter {font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Fjalla One", sans-serif;
}

.theELetter {font-size: 60px;
  font-weight: normal;
  color: rgb(30, 29, 28);
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Fjalla One", sans-serif;
}

/* FRONT-END word */

.frontendFLetter {font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Fjalla One", sans-serif;
}

.frontendRLetter {font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Fjalla One", sans-serif;
}

.frontendOLetter {font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Fjalla One", sans-serif;
}

.frontendNLetter {font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Fjalla One", sans-serif;
}

.frontendTLetter {font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Fjalla One", sans-serif;
}

.frontendELetter {font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Fjalla One", sans-serif;
}

.frontendNTwoLetter {font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Fjalla One", sans-serif;
}

.frontendDLetter {font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Fjalla One", sans-serif;
}

/* DEVELOPER word */

.developerDLetter {font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Fjalla One", sans-serif;
}
.developerELetter {font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Fjalla One", sans-serif;
}
.developerVLetter {font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Fjalla One", sans-serif;
}
.developerETwoLetter {font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Fjalla One", sans-serif;
}
.developerLLetter {font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Fjalla One", sans-serif;
}
.developerOLetter {font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Fjalla One", sans-serif;
}
.developerPLetter {font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Fjalla One", sans-serif;
}
.developerEThreeLetter {
}font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
.developerRLetter {font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
}

/* TAKE word */

.takeTLetter {font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
}
.takeALetter {font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
}
.takeKLetter {font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
}
.takeELetter {font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
}

/* UP word */

.upULetter {font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
}
.upPLetter {font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
}

/* GARDENING word */

.gardeningGLetter {
}font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
.gardeningALetter {font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
}
.gardeningRLetter {font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
}
.gardeningDLetter {font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
}
.gardeningELetter {
}font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
.gardeningNLetter {font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
}
.gardeningILetter {font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
}
.gardeningNTwoLetter {font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
}
.gardeningGTwoLetter {font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
}

/* BECAUSE word */

.becauseBLetter {font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
}
.becauseELetter {font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
}
.becauseCLetter {font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
}
.becauseALetter {font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
}
.becauseULetter {font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
}
.becauseSLetter {font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
}
.becauseETwoLetter {font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
}

/* THEY word */

.theyTLetter {font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Fjalla One", sans-serif;
}
.theyHLetter {font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Fjalla One", sans-serif;
}
.theyELetter {font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Fjalla One", sans-serif;
}
.theyYLetter {font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Fjalla One", sans-serif;
}

/* WANTED word */

.wantedWLetter {font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Fjalla One", sans-serif;
}
.wantedALetter {font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Fjalla One", sans-serif;
}
.wantedNLetter {font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Fjalla One", sans-serif;
}
.wantedTLetter {font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Fjalla One", sans-serif;
}
.wantedELetter {font-size: 60px;
  font-weight: normal;
  color: rgb(235, 93, 42);
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Fjalla One", sans-serif;
}
.wantedDLetter {font-size: 60px;
  font-weight: normal;
  color: rgb(35, 60, 128);
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Fjalla One", sans-serif;
}

/* TO word */

.toTLetter {font-size: 60px;
  font-weight: normal;
  color: rgb(20, 204, 134);
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Fjalla One", sans-serif;
.toOLetter {font-size: 60px;
  font-weight: normal;
  color: rgb(220, 243, 15);
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Fjalla One", sans-serif;
}

/* IMPROVE word */

.improveILetter {font-size: 60px;
  font-weight: normal;
  color: rgb(177, 233, 24);
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Fjalla One", sans-serif;
}
.improveMLetter {font-size: 60px;
  font-weight: normal;
  color: rgb(66, 177, 38);
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Fjalla One", sans-serif;
}
.improvePLetter {
}font-size: 60px;
  font-weight: normal;
  color: rgb(26, 127, 221);
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Fjalla One", sans-serif;
.improveRLetter {font-size: 60px;
  font-weight: normal;
  color: rgb(241, 192, 174);
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Fjalla One", sans-serif;
.improveOLetter {font-size: 60px;
  font-weight: normal;
  color: rgb(223, 8, 8);
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Fjalla One", sans-serif;
}
.improveVLetter {font-size: 60px;
  font-weight: normal;
  color: rgb(30, 146, 46);
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Fjalla One", sans-serif;
}
.improveELetter {font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Fjalla One", sans-serif;
}

/* THEIR word */

.theirTLetter {font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Fjalla One", sans-serif;
}
.theirHLetter {font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Fjalla One", sans-serif;
}
.theirELetter {
}font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Playwrite HU", cursive;
.theirILetter {font-size: 60px;
  font-weight: normal;
  color: rgb(42, 110, 26);
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Playwrite HU", cursive;
}
.theirRLetter {font-size: 60px;
  font-weight: normal;
  color: rgb(16, 19, 66);
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Playwrite HU", cursive;
}

/* ROOT word */

.rootRLetter {font-size: 60px;
  font-weight: normal;
  color: rgb(218, 91, 44);
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Playwrite HU", cursive;
}
.rootOLetter {font-size: 60px;
  font-weight: normal;
  color: rgb(248, 230, 223);
  text-decoration: none;
  text-transform: uppercase;
font-family: "Playwrite HU", cursive;
}
.rootOTwoLetter {font-size: 60px;
  font-weight: normal;
  color: rgb(53, 16, 3);
  text-decoration: none;
  text-transform: uppercase;
 font-family: "Playwrite HU", cursive;
}
.rootTLetter {font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Playwrite HU", cursive;
}

/* SKILLS word */

.skillsSLetter {font-size: 60px;
  font-weight: normal;
  color: rgb(156, 113, 97);
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Playwrite HU", cursive;
}
.skillsKLetter {font-size: 60px;
  font-weight: normal;
  color: rgb(199, 158, 23);
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Fjalla One", sans-serif;
}
.skillsILetter {font-size: 60px;
  font-weight: normal;
  color: rgb(72, 34, 133);
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Fjalla One", sans-serif;
}
.skillsLLetter {font-size: 60px;
  font-weight: normal;
  color: rgb(98, 107, 233);
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Fjalla One", sans-serif;
}
.skillsLTwoLetter {font-size: 60px;
  font-weight: normal;
  color: rgb(98, 191, 245);
  text-decoration: none;
  text-transform: uppercase;
  font-family: font-family: "Fjalla One", sans-serif;
}
.skillsSTwoLetter {font-size: 60px;
  font-weight: normal;
  color: rgb(130, 176, 236);
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Fjalla One", sans-serif;
}

/* SYMBOLS */

.hyphen {
}
.exclamation-mark {
}
.question-mark {
}
